body {
    font-family: 'Montserrat';
    color:#3C4646;
    background-color:#FEFCF7;
}

.avatar {
    max-width: 200px;
}

.container {
    background-color:#EEECE1;
    border-radius: 30px;
}

@media (min-width: 1200px) {
    .container{
        max-width: 650px;
    }
}
@media (min-width: 920px) {
    .container{
        max-width: 460px;
    }
}
@media (min-width: 768px) {
    .container{
        max-width: 384px;
    }
}

h1 {
    font-family: 'Six Hands';
}

.svg-container {
    display: flex;
    align-items: center;
}

.svg-container > svg {
    opacity: 0.5;
}

h5 {
    font-weight: 600;
}

.linked-button {
    border:#26354634 dashed 2px;
    border-radius: 11px;
    background-color:#EEECE1;
}

.linked-button:hover {
    background-color:#cfcec4;
}

.link {
    color:#3C4646;
}

.link:hover {
    color:#3C4646;
    text-decoration: none;
}

.link:hover > h6 {
    font-weight: 600;
}
