body {
    font-family: 'Montserrat';
    color:#262c2c;
}

.vertical-center {
    min-height: 100%;  
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.avatar {
    max-width: 190px;
    filter: contrast(110%);
}

.container {
    background-color:#f3e746;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(163,177,198,0.5), -5px -5px 10px rgba(255, 255, 255, 0.6);
}

@media (min-width: 1200px) {
    .container{
        max-width: 650px;
    }
}
@media (min-width: 920px) {
    .container{
        max-width: 460px;
    }
}
@media (min-width: 768px) {
    .container{
        max-width: 384px;
    }
}

h1 {
    font-family: 'Six Hands';
}

.svg-container {
    display: flex;
    align-items: center;
}

.svg-container > svg {
    opacity: 0.5;
}

.contacts-header > h6 {
    font-weight: 600;
}

.linked-button {
    border:#262c2c dashed 1px;
    background:#fffffc;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px;
}

.linked-button:hover {
    transition: 0.3s;
    transform: scale(1.05);
}

.link {
    color:#3C4646;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.link:hover {
    color:#3C4646;
    text-decoration: none;
}

.link:hover > h6 {
    font-weight: 600;
}

svg:hover {
    transition: 0.3s;
    transform: scale(1.1);
    fill:#fffffc;
}

.blob {
	background: #3C4646;
	border-radius: 50%;
	margin: 10px;

	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(100, 100, 111, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 12px rgba(100, 100, 111, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(100, 100, 111, 0);
	}
}
